<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
    <script>
        $(function (){
            $("a[id^='product_']").click(function (event) {
                if (confirm('Are you sure to delete this genre?')) {
                    let productCode = $(this).attr('name').replace('product_', '');
                    $.ajax({
                        url: '/api/product/delete/' + productCode,
                        type: 'DELETE',
                        success: function () {
                            console.log(productCode);
                            location.reload();
                        },
                    });
                }
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Название продукта</th>
        <th>Цена</th>
        <th>Колличество</th>
        <th>Изображение</th>
        <th>Описание</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod:${products.data}">
        <td th:text="${prod.productName}">Имя</td>
        <td th:text="${prod.price}">цена</td>
        <td th:text="${prod.amount}">кол-во</td>
        <td th:text="${prod.picture}">пик</td>
        <td th:text="${prod.description}">описание</td>
        <td>
            <a th:href="@{/category/{categoryName}/{idCategory}/{product}/{idProduct}(categoryName=${categoryName},
            idCategory=${idCategory},product=${prod.getProductName()},idProduct=${prod.getId()})}">Обновить</a>
            <a th:id="${prod.idStr}" th:name="${prod.idStr}" th:href="@{/category/{categoryName}/{idCategory}(categoryName=${categoryName},
            idCategory=${idCategory}, page=${products.getCurrentPage()})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>