<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
    <script>
        $(function () {
            $("a[id^='category_']").click(function (event) {
                if (confirm('Are you sure to delete this genre?')) {
                    let categoryCode = $(this).attr('name').replace('category_', '');
                    $.ajax({
                        url: '/api/category/delete/' + categoryCode,
                        type: 'DELETE',
                        success: function () {
                            console.log(categoryCode);
                            location.reload();
                        },
                    });
                }
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Название категории</th>
                <th>Колличество</th>
                <th>Изображение</th>
                <th>Описание</th>
                <th sec:authorize="hasAnyAuthority('ADMIN', 'MODER')">Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cat: ${category.data}">
                <td >
                    <a th:href="@{/category/{categoryName}/{idCategory}(categoryName=${cat.getCategoryName()}, idCategory=${cat.getId()})}" >
                        <span th:text="${cat.getCategoryName()}">Имя</span>
                    </a>
                </td>
                <td th:text="${cat.getProductTable().size()}">Кол-во</td>
                <td>
                    <img th:src="@{${cat.productImagePath}}" alt="no picture" width="156px" height="auto">
                </td>
                <td th:text="${cat.getDescription()}">Дискриптион</td>
                <td sec:authorize="hasAnyAuthority('ADMIN', 'MODER')">
                    <a th:href="@{/category/{id}(id = ${cat.getId()})}">Обновить</a>
                    <a th:id="${cat.idStr}" th:name="${cat.idStr}" th:href="@{/categories(page=${category.currentPage})}">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div sec:authorize="hasAnyAuthority('ADMIN', 'MODER')">
        <a th:href="@{/category/create}">Добавить новую категорию</a>
    </div>
    <div>
        <div>
            <a th:if="${category.hasPrevious}" th:href="@{/categories(page=${category.currentPage})}">
                Previous
            </a>
            <span th:unless="${category.hasPrevious}">
                Previous
            </span>
            <span th:unless="${category.data.isEmpty()}" th:each="i: ${#numbers.sequence(1, category.totalPage)}">
                <a th:if="${i!=category.currentPage + 1}" th:href="@{/categories(page=${i})}" th:text="${i}">Номера страниц для перехода</a>
                <span th:if="${i==category.currentPage + 1}" th:text="${i}">Текущий номер страницы</span>
            </span>
            <a th:if="${category.hasNext}" th:href="@{/categories(page=${category.currentPage+ 2})}">
                Next
            </a>
            <span th:unless="${category.hasNext}">
                Next
            </span>
        </div>
    </div>
</body>
</html>