<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create or Update</title>
    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
    <script>
        $(function (){
            $('#fileImage').change(function(){
                var file = this.files[0];
                var reader = new FileReader();

                reader.onload = function (e){
                    $('#thumbnail').attr('src',e.target.result);
                    $('#thumbnail').css({'width': '156px', 'height': 'auto'});
                }
                reader.readAsDataURL(file);
            })
        });
    </script>
</head>
<body>
    <form th:method="POST" th:action="@{/category/save}" th:if="${category == null}" enctype="multipart/form-data">
        <div >
            <label for="name-of-category">Имя категории:</label>
            <input id="name-of-category" name="categoryName" type="text">
        </div>
        <div >
            <label for="amount-of-category">Колличество</label>
            <input id="amount-of-category" name="amount" type="text">
        </div>
        <div >
            <input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg">
            <p>
                <img id = "thumbnail" alt="Category Preview"  width="156px" height="auto"/>
            </p>
        </div>
        <div>
            <label for="description-of-category">Описание</label>
            <textarea id="description-of-category" name="description"></textarea>
        </div>
        <div>
            <a th:href="@{/categories}">Назад</a>
            <button type="submit">Сохранить</button>
        </div>
    </form>
    <form th:method="PATCH" th:action="@{/category/save}" th:unless="${category == null}" enctype="multipart/form-data">
        <div>
            <input id="id-of-category" th:field="${category.id}" readonly="readonly" type="hidden">
        </div>
        <div>
            <label for="name-of-category">Имя категории:</label>
            <input id="name-of-category" th:field="${category.categoryName}" type="text">
        </div>
        <div >
            <label for="amount-of-category">Колличество</label>
            <input id="amount-of-category" th:field="${category.amount}" type="text">
        </div>
        <div >
            <input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg">
            <p>
                <input type="hidden" th:field="${category.picture}" readonly="readonly">
                <img id = "thumbnail" alt="Category Preview" th:src="@{${category.productImagePath}}"  width="156px" height="auto"/>
            </p>
        </div>
        <div>
            <label for="description-of-category">Описание</label>
            <textarea id="description-of-category" th:field="${category.description}"></textarea>
        </div>
        <div>
            <a th:href="@{/categories}">Назад</a>
            <button type="submit">Сохранить</button>
        </div>
    </form>
</body>
</html>